@charset "UTF-8";
* {
  Margin: 0;
  padding: 0; }

.header {
  background-image: url(../Images/Fondo1.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.body {
  background-color: olivedrab; }

.divEncabezado {
  background-color: white;
  color: olivedrab;
  text-align: center;
  font-family: 'antonio';
  height: 30px;
  padding: 2px 0px 5px 0px;
  letter-spacing: 2px;
  max-width: 100% !important;}

.divLogo {
  display:inline;
  }

.divTitulo {
  margin: 20px; }

.divRedes {
  display: flex;
  flex-direction: column; }

.h11 {
  color: #1d1b1b;
  text-align: center;
  font-size: 80px;
  text-shadow: 2px 2px whitesmoke;
  font-family: 'antonio';
  text-transform: uppercase; }

.navbar {
font-family: 'antonio';
}

.menuDesplegable {
  background-color: white; }

.garrapiñadas {
  color: olivedrab;
  padding: 3px;
  text-align: center;
  text-decoration: none; }

.navUl {
  color: olivedrab;
  font-weight: bolder;
  text-decoration: none;
  background-color: white;
  height: 35px;
  font-family: 'antonio';
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 4px; }

.h2 {
  background-color: white;
  color: olivedrab;
  height: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'oswald';
  padding-bottom: 15px; }

.h3 {
  background-color: white;
  color: olivedrab;
  height: 50px;
  width: 25%;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'oswald';
  padding: 5px;
  margin-left: 500px; }

.h3Envios {
  background-color: white;
  color: olivedrab;
  border-radius: 10px;
  font-family: 'oswald'; }

.imagenEnvios {
  background-image: url(../Images/envios.jpg.jpg);
  align-items: top;
  height: 700px; }

.footer {
  background-image: url(../Images/Fondo2.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 40% 25% 33%;
  grid-template-rows: 33%;
  padding: 10px; }

@media (max-width:838px)  {
.footer {
    display: block
  }
}

.form {
  text-align: right;
  width: 370px;
  background-color: whitesmoke;
  padding: 0px 10px 5px 10px;
  opacity: .90;
  font-family: 'oswald';
  color: olivedrab;
  letter-spacing: 1px; }

.contacto {
  text-align: center; }

.p {
  font-size: 25px;
  text-align: center;
  display: inline-block;
  width: 75%;
  font-family: 'oswald';
  color: whitesmoke; }

.imagenCarrete {
  margin: 50px;
  height: 400px;
  overflow: hidden; }

.imagenProductos {
  padding: 20px 5px 20px 5px;
  border: solid whitesmoke;
  display: inline-block;
  text-align: center;
  margin: 20px 25px 20px 35px;
  border-radius: 20px;
  font-family: 'oswald';
  color: whitesmoke;
  letter-spacing: 1px; }

.divBoton {
  text-decoration: none;
  display: inline-flex;
  background-image: linear-gradient(to left, olivedrab, black);
  margin: 20px;
  padding: 10px;
  font-family: 'antonio';
  border-radius: 50px;
  color: whitesmoke; }

.quienesSomos {
  background-image: url(../Images/fondo-quienes.jpg);
  background-size: 100%;
  background-position: right center; }

.divForm {
  color: black;
  background-color: whitesmoke;
  padding: 6px;
  font-family: 'antonio';
  width: 100%; 
  opacity: .85;
}

ul {
  list-style: none; }

li {
  display: inline-block;
  position: relative;
  margin-right: 70px;
  margin-top: 5px; }

ul ul {
  position: absolute;
  display: none; }

ul ul li {
  display: block; }

ul li:hover ul {
  display: block; }

.expandir:hover {
  transform: scale(1.04, 1.04); }

.rotar:hover {
  transform: rotateZ(360deg);
  transition: 2s; }

.d-block {
  padding: 50px !important;
  width: 100%; }

.carouselExampleIndicators {
  max-width: 100% !important; }

.btn--Azul {
  background-color: #074e85; }

.btn--OLAVARRIA-TANDIL-RAUCH {
  background-color: #14b41c; }

.btn--RESTO-DEL-PAIS {
  background-color: #C25E30; }

.container {
  display: flex;
  color: olivedrab;
  background-color: whitesmoke;
  opacity: .85;
  width: 100% !important;
  height: 90px;
  font-family: 'oswald';
  letter-spacing: 1px; }

.quienesSomos__Titulo {
  background-color: white;
  color: olivedrab;
  height: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'oswald';
  padding-bottom: 15px; }

.productos {
  background-color: white;
  color: olivedrab;
  height: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'oswald'; }

.productos__aceites {
  background-color: white;
  color: olivedrab;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
  font-family: 'oswald';
  margin: 10px; }

  .preciosProductos__aceites {
    color: olivedrab;
    background-color: olivedrab;
    text-align: center;
    font-size: 40px;
    font-family: 'oswald';
  }

  .botonPrecios {
    color: olivedrab;
    background-color: white;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    border-style: dotted;
    text-align: center;
    font-size: 40px;
    font-family: 'oswald';
    border: medium double olivedrab;
    box-shadow: 0px 5px 5px black;
  }


.imagenGarrapiñadas {
  padding: 10px 30px 10px 0px;
  border: solid whitesmoke;
  display: grid;
  grid-template-columns: 650px 650px;
  grid-template-rows: 300px 300px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 20px;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  font-family: 'oswald';
  color: whitesmoke;
  letter-spacing: 1px; }

.article {
  padding: 5px;
  border: solid whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 15px; }

.articleGarrapiñada {
  padding: 5px;
  border: solid whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 15px; }

.bidon-3-L {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px; }

.bidon-5-L {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  image-rendering: auto;
  height: 235px; }

.pet-1-L {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px; }

.imgGarrapiñada {
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  height: 200px; }

.vidrio-05-L {
  border-radius: 10px;
  width: 680px;
  overflow: hidden;
  margin: 20px; }

.receta1 {
  display: block;
  border: solid whitesmoke;
  border-radius: 30px;
  overflow: hidden;
  width: 40%;
  height: 310px; }

.articleRecetas {
  display: inline-flex; }

.h4 {
  display: flex;
  justify-content: center;
  background-color: white;
  color: olivedrab;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'oswald';
  padding-bottom: 6px; }

.ingredientes {
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
  width: 40%;
  height: 310px;
  margin: 10px;
  padding-top: 20px; }
